@use './reset.scss';//引入清除默认样式

//滚动条的样式
/* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} */