//为项目提供scss全局变量

//左侧的菜单的宽度
$base-menu-width: 260px;
$base-menu-min-width: 70px;
//左侧菜单的背景颜色
$base-menu-bg-color: #001529;
//顶部导航的高度
$base-tabbar-height: 50px;
//左侧菜单logo的高度
$base-menu-logo-height: 50px;
//左侧菜单文字的大小
$base-logo-title-fontsize: 20px;